* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    caret-color: transparent;
}

main {
    padding: 5% 20%;
    height: 100%;
}

button#start {
    margin: 20px 0;
    padding: 10px;
}

form {
    display: none;
    /* display: flex; */
    flex-direction: column;
    height: 60%;
    text-align: center;
    justify-content: space-around;

}

form div#changeable {
    display: flex;
    flex-direction: column;
}

.cover {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#spinner {
    position: absolute;
    right: calc(50vw - 15px);
    top: 20vh;
}

.clapping_hands {
    position: absolute;
    right: 20vw;
    top: 20vh;
    font-size: 30px;
    padding: 10px;
    display: none;
}

form span#emoji {
    font-size: 60px;
}

form input,
form select {
    padding: 10px;
}

section#liderboard{
    height: fit-content;
    max-height: 25%;
    overflow-y: scroll;
}
div.stat{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

div.stat  span#stat_score{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
