* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 10% 20%;
    caret-color: transparent;
}

form {
    display: none;
    /* display: flex; */
    flex-direction: column;
    height: 80%;
    text-align: center;
    justify-content: space-around;

}

form div#changeable {
    display: flex;
    flex-direction: column;
}

#spinner {
    display: none;
}

form span#emoji {
    font-size: 60px;
}

form input,
form select {
    padding: 10px;
}

button#start{
    margin: 20px 0;
    padding: 10px;
}