main {
    background-color: red;
    color: white;
}

.new_task_form {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.new_task_form>input {
    border: none;
    background-color: white;
}

.new_task_form>#submit_input {
    color: lightblue;
    font-weight: 600;
}

.new_task_form>#submit_input:hover {
    color: rgb(65, 192, 235);
}

.new_task_form>input:focus {
    outline: none;
}

.tasks_container{
    border-radius: 5px;
}

#clear_btn{
    padding: 15px;
    color: rgb(253, 132, 132);
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}
#clear_btn:hover{
    color: rgb(252, 0, 0);
    transition: 0.2s;
}