* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.wrapper,
main,
aside {
    display: flex;
    align-items: center;
    justify-content: center;

}

section.wrapper {
    height: 100vh;
}

main {
    width: 70%;
    height: inherit;
    flex-direction: column;
    padding: 30px;
}

aside {
    width: 30%;
    height: inherit;
    flex-direction: column;
    background-color: gainsboro;
    padding: 30px;
}

aside img {
    width: 60%;
    border-radius: 50%;
}

aside a {
    width: 42px;
    height: 48px;
}


aside a.icon {
    text-decoration: none;
    color: unset;
}

aside a.linkedin_icon:hover i {
    color: #0077B5;
}

aside a.github_icon:hover i {
    color: #c9510c;
}

aside a.whatsapp_icon:hover i {
    color: #25d366;
}

main>*,
aside>* {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

main h3 {
    text-align: left;
}

main>article {
    width: 100%;
}

main>h1,
p {
    margin: 10px;
}

main div.ckills {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}