main {
    padding: 20px;
    font-size: 1.2em;
    padding-bottom: 60px;
    text-align: center;
}

.card {
    text-align: center;
    width: 300px;
    height: 600px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    border-radius: 15px;
}

.card:hover {
    box-shadow: rgb(230, 230, 230) 1px 1px 10px;
}



.product_img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    position: relative;
}

#bg_1 {
    background-image: url("./assets/image1.png");
}

#bg_2 {
    background-image: url("./assets/image2.png");
}

#bg_3 {
    background-image: url("./assets/image3.png");
}

#bg_4 {
    background-image: url("./assets/image4.png");
}

.new {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
    background-color: green;
    text-align: center;
    font-size: 14px;
    color: white;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    border-radius: 50%;
    margin-right: auto;
}

.discont {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    background-color: red;
    font-size: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 15px;
}

.hidden_icons {
    display: none;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 15%;
}

.hidden_icons div i {
    background-color: #ffffff;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

.card:hover .hidden_icons {
    display: block;
}

.hidden_icons .icon_container {
    display: inline-block;
    position: relative;
}

.card .hidden_icons div.icon_container .pop-up {
    display: none;
    height: 25px;
    width: 160%;
    font-size: 12px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: -20px;
}

.card .hidden_icons i:hover {
    background-color: rgba(0, 128, 0, 0.815);
    color: #ffffff;
}

.card .hidden_icons div:hover .pop-up {
    display: block;
}


.card .hidden_icons .eye i:hover::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -5px;
}

div.desc {
    position: relative;
    height: 30%;
}

div.desc p,
div.desc h5 {
    margin: 20px 0;
}

.new_price {
    color: green;
    font-weight: bold;
}

.old_price {
    color: #CCCCCC;
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 5px;
}

.button {
    position: absolute;
    width: 180px;
    right: 55px;
    bottom: 30px;
    text-decoration: none;
    background-color: #ffffff;
    color: #333333;
    padding: 10px 20px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.card:hover .button {
    color: white;
    background-color: rgba(0, 128, 0, 0.815);
}

.card:hover .button:hover {
    background-color: green;
}

.card:hover .button:active {
    transform: scale(0.95);
}