* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5px;
}

.container {
    height: 98vh;
    background-color: rgb(196, 196, 196);
    display: grid;
    grid-template-columns: 1fr 4fr;
}

aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    row-gap: 3px;
    padding: 3px;
}

button {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    row-gap: 1px;
    column-gap: 1px;
    padding: 3px;
}

