* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
}

body {
    height: 100vh;
    background-image: url("./assets/avengers_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(13, 13, 90);
}
.wrapper{
    width: 90%;
        margin: 0 auto;
}

header {
    background-color: rgb(43, 43, 43);
    color: white;
}

nav {
    height: 70px;
}

nav img {
    height: 60px;
    width: 60px;
}

ul {
    height: 70px;
}

li {
    list-style: none;
    float: right;
}

#logo-li {
    float: left;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    background-color: rgb(43, 43, 43);
    color: white;
}

li a:hover {
    background-color: black;
}



section h1 {
    margin-top: 40vh;
    font-size: 6em;
}
section p {
    margin-top: 5vh;
    width: 50%;
}