form input {
    font-size: 60px;
    width: 40%;
    padding: 20px 0;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    border: 0px;
    background-color: rgba(89, 0, 255, 0.164);
    outline: none;
}

button {
    font-size: 20px;
    padding: 25px;
    margin: 5px;
    outline: none;
    border-radius: 15px;
    outline: none;
    border: 0px;
    background-color: rgba(89, 0, 255, 0.24);
}

button:hover {
    background-color: rgba(89, 0, 255, 0.308);
}

button:active {
    background-color: rgba(89, 0, 255, 0.404);
}

div#result {
    font-size: 100px;
    padding: 25px;
    margin: 5px;
}