* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    color 2s,
    background-color 3s;
}